{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class=" font-weight-normal">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Password) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-danger mt-2">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
